ul{
    list-style-type: none;
    margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    display: block;
}

img{
     display: block; 
    max-width: 100%;
        height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: black;
    background-color: #fff;
}



.container{
    width: 1190px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* ----------------header------------- */

.header{
    background: linear-gradient(0deg, #fff 0%, #f5f6eb 15%, #e9edcd 50%, #ccd5ae 100%);
    min-height: 100vh;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu-list{
    display: flex;
    gap: 50px;
}

.header-menu-link, .header-title{
    padding: 45px 0;
    font-size: 20px;
}

.header-menu-link:hover, .header-menu-link:focus, .header-menu-title:focus, .header-menu-title:hover, .header-scroll-btn:hover, .header-scroll-btn:focus {
    color: #874A0F;
}

.header-logo-wrap{
    display: flex;
    gap: 21px;
    align-items: center;


}

.header-title{
    font-size: 54px;
    margin: 0 auto;
    max-width: 366px;
    margin-top: 15%;
}

.header-scroll-btn{
    margin: 0 auto;
    display: block;
    max-width: 93px;
}

/* ------------------------------------------ */

/* -------------------------------------- */




/* ------------------------------------------ */
