ul{
    list-style-type: none;
    margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    display: block;
}

body{
    margin: 0;
}

img{
     display: block; 
    max-width: 100%;
        height: auto;
}

p{
    /* text-align: center; */
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.01em;
    font-weight: 400;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #151515;
    background-color: #fff;
    font-size: 20px;
}

html, body{
    height: 100%;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}



.container{
    width: 1190px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.section-title{
    font-weight: 500;
    font-size: 40px;
    text-align: center;
}


.menu-btn{
    display: none;
    width: 40px;
    height: 30px;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    border: none;

  }

  .menu-btn span{
    height: 2px;
    background-color: #151515;
    width: 100%;
  }
  
/* ----------------header------------- */

.header{
    background-color: #ccd5ae;
    padding: 5px 0;
    
}

.header-index{
    min-height: 100vh;
    background: linear-gradient(0deg, #fff 0%, #f5f6eb 15%, #e9edcd 50%, #ccd5ae 100%);
    position: relative;
    padding: 5px 0;
    width: 100%;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu-list{
    display: flex;
    gap: 50px;
}

.header-menu-link, .header-title{
    padding: 20px 0;
    font-size: 20px;
}

.header-menu-link:hover, .header-menu-link:focus, .header-menu-title:focus, .header-menu-title:hover, .header-scroll-btn:hover, .header-scroll-btn:focus {
    color: #874A0F;
}

.header-logo-wrap{
    display: flex;
    gap: 21px;
    align-items: center;


}

.header-logo{
	padding: 5px 0;
}

.header-title{
    font-size: 54px;
    margin: 0 auto;
    max-width: 366px;
    margin-top: 5%;
    transition: font-size ease .3s, max-width ease .3s;
    font-weight: 600;
}

.header-title:focus, .header-title:hover{
    font-size: 62px;
    max-width: 450px;
}

.header-scroll-btn{
    margin: 0 auto;
    /* display: block;
     */
    max-width: 145px;
	gap: 10px;
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 5%;
	left: 0;
	right: 0;
    font-family: 'Montserrat', sans-serif;
    color: #151515;
    border-style: none;
    background-color: transparent;
    z-index: 1;
}
	

.header-scroll-btn::after{
	content: '';
    width: 38px;
    height: 38px;
    background-color: #F5F6EB;
    border-radius: 50%;
    background-image: url(../images/arrow.png);
    background-position: center;
    background-repeat: no-repeat;
	

}



.header-subtitle{
	max-width: 850px;
	margin-top: 13%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
}

/* ------------------------------------------ */

/* -----------------honey--------------------- */


.honey {
    padding: 100px 0;
}

.honey-title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.honey-title::before {
    content: '';
    background-image: url(../images/honey-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    background-color: transparent;
}

.honey-subtitle {
    font-weight: 400;
    font-size: 32px;
    margin: 60px 0 95px;
    text-align: center;
}
.honey-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
}
.honey-img {
    align-self: stretch;
}
.honey-text {
    background-color: #e9edc9;
    padding: 82px 42px;
    text-align: center;
}

/* ------------------------------------------ */

/* --------------------star-bee---------------------- */

.star-bee {
    padding-top: 50px;
    padding-bottom: 150px;
}
.star-inner {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.star-title {
    margin-bottom: 50px;
}
.star-text {
    /* max-width: 407px; */
    margin: 0 auto;
    text-align: center;
}

.star-text + .star-text{
    margin-top: 10px;
}

.star-text span{
    font-weight: 600;
}
.star-img {
    margin: 45px auto;

}
.star-icon {
    position: absolute;
    left: 489px;
    bottom: -175px;

}


/* ------------------------------------------ */






/* ------------------------------------------ */
/* ---------------------footer--------------------- */

.footer {
    background-color: #ccd5ae;
    padding: 15px 0;
}
.footer-nav {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.footer-list {
    display: flex;
    gap: 25px;
    font-size: 14px;
    align-items: center;
}
.footer-list-item {
}
.footer-list-link {
}
.footer-logo-link {
    display: flex;
    justify-self: center;

}
.footer-logo {
}
.footer-social {
    display: flex;
    gap: 10px;
    justify-self: end;
    align-items: center;
}
.footer-social-item {
}
.footer-social-link {
}

.footer-social-img {
    background-color: transparent;
    border-radius: 50%;
    padding: 4px;
    
}
.footer-social-img:hover{
    box-shadow: 0 4px 4px 0 #874a0f;

}


/* ------------------------------------------ */
/* -----------------pages-------------- */

/* ------------------products------------------------ */

.products {
    padding: 100px 0;
}

.products-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px 24px;
}
.products-item {
    /* width: calc((100% - 24px * 2) / 3); */
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products-item:hover{
    box-shadow: 0 2px 4px 0 #874a0f;
}
.products-cover-wrap {
    position: relative;
    overflow: hidden;
    height: 380px;
}
.products-image {
    max-width: 100%;
}
.products-cover-text {
    font-size: 16px;
    color: #151515;
    position: absolute;
    top: 0;
    height: 100%;
    padding: 40px 32px;
    display: flex;
    justify-content: center;
    transform: translateY(100%);
    background-color: #ccd5ae;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products-item:hover .products-cover-text{
    transform: translateY(0%);
}

.products-item-wrap {
    border-bottom: 1px solid #874a0f;
        border-left: 1px solid #874a0f;
        border-right: 1px solid #874a0f;
        padding: 32px 16px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
}
.products-subtitle {
    margin-top: 20px;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 8px;
    min-height: 48px;
}
.subtitle {
}
.products-item-text {
    margin-top: auto;
}
.text {
}
/* ------------------------------------------ */
/* --------------------about-us---------------------- */

.about-us {
    padding: 100px 0;
}
.container {
}
.about-us-subtitle, .cafe-subtitle {
	font-size: 24px;
    font-weight: 400;
	text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.about-accent{
    color: #ccd5ae;
    font-weight: 700;
    font-size: 300px;
    line-height: 400px;
    opacity: 0.5;
    position: absolute;
    z-index: -1;
    animation: line-text 6s linear 1s infinite;
}

@keyframes line-text{
    from{
      transform: translateX(115%);
      transform-origin: left center;
    }
  
    to{
      transform: translateX(-115%);
      transform-origin: right center;
      }
  }

.about-text {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 40px 30px;
}

.about-text img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-text-paragraph-1{
    max-height: 210px;
}
.about-text-paragraph-2{
    max-height: 180px;
}

.about-text-img-1{
    max-height: 210px;
}

.about-text-img-2 {
    grid-column: 3;            
    grid-row: 1 / -1;
    object-position: center;
}

.about-text-img-3{
    grid-column: 2;
    grid-row: 2;
    max-height: 180px;

}
.about-video {
}

video{
    width: 100%;
    margin-top: 100px;
}

.accent{
    margin-bottom: 150px;
    text-align: center;
    position: relative;
    /* overflow: hidden; */
}

.accent-img{
    margin: 0 auto;
    /* rotate: 5deg; */
}

/* ------------------------------------------ */



/* ------------------cafe------------------------ */

.cafe {
    padding: 100px 0;
}
.container {
}
.cafe-subtitle {
    margin-bottom: 50px;
}
.cafe-text {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 40px 30px;
    margin-bottom: 100px;
    margin-top: 100px;
}

.cafe-text img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cafe-text-img-menu{
    grid-column: 1;            
    grid-row: 1 / -1;
    max-height: 676px;
    width: auto;
}
.cafe-text-img-1 {
    max-height: 411px;
}
.cafe-text-img-2 {
}
.cafe-text-img-3 {
    grid-row: 2;
    grid-column: 3;
}
.cafe-text-paragraph {
    max-width: 565px;
    max-height: 225px;
}
.cafe-paragraph, .cafe-reservation{
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.cafe-reservation{
    margin-top: 30px;
}

.cafe-reservation:hover a{
    color: #874A0F;
}





/* ------------------------------------------ */
/* ------------------------contacts------------------ */

.top{
    background-color: #e9edc9;
}

.top-title{
    padding: 30px;
    text-align: center;
    font-weight: 400;
    font-size: 40px;
}

.map{
    padding: 100px 0;
}

.title{
    font-weight: 400;
    font-size: 40px;
}

.map-title{
    margin-bottom: 50px;
}

.contacts-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contacts-list-item {}

.contacts-list-link:hover {
color: #874A0F;
}

.social-media {
}

.social-title {
    font-weight: 400;
        font-size: 32px;
        text-align: center;
        margin-bottom: 70px;
}

.social-media-list {
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
}

.social-media-item {}

.social-media-link {}

.social-media-img {
    background-color: transparent;
        border-radius: 50%;
        padding: 4px 8px;
}

.social-media-img:hover{
    box-shadow: 0 4px 4px 0 #874a0f;
}


.form-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-title {
    font-weight: 400;
        font-size: 24px;
        margin-bottom: 25px;
        font-style: italic;

}
.contacts-form {
    max-width: 610px;
}
.form-input {
    margin-bottom: 10px;
}
.form-label {
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #151515;
    margin-bottom: 4px;
    display: block;
}
.form-control {
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 610px;
        height: 40px;
        background-color: transparent;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-control:focus, .form-control:hover{
    border-color: #874A0F;
}
.form-check-label:checked {
    background-color: #874A0F;
    border-color: #874A0F;
}
.form-check-input {
    margin-bottom: 10px;
}
.form-check-label {
    accent-color: #874a07 ;
}

.form-button{
    background-color: transparent;
    border-radius: 12px;
    border-color: #874a07;
    padding: 10px;
    font-size: 16px;
}

.form-input-check{
    margin-bottom: 10px;
}

.form-button:hover{
    background-color: #874a07;
    border-color: transparent;

}

/* ------------------------------------------ */


@media screen and (max-width: 768px){
    .container {
        width: 738px;
    }

   .header-menu-list{
    transform: translateX(260%);
    transition: transform 1s;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 320px;
    background-color: #ccd5ae;
    color: #151515;
    padding: 100px 0;
    align-items: center;
    flex-direction: column;
    z-index: 1;
   } 

   .header-menu-list.menu-active{
    transform: translateX(140%);
  }

  .menu-btn{
    display: flex;
  }
  .header-subtitle{
    font-size: 14px;
    max-width: 450px;
  }

  .header-logo img{
    height: 60px;
    width: 60px;
  }

  .header-title{
    font-size: 40px;
    margin-top: 15%;
    text-align: center;
  }

  .section-title, .top-title, .title, .social-title{
    font-size: 30px;
  }

  .honey-text, .star-text{
    font-size: 18px;
  }

  .honey-subtitle{
    font-size: 24px;
    margin-bottom: 65px;
  }

  .honey-inner{
    gap: 60px;
  }
  .star-icon{
    height: 170px;
    bottom: -140px;
  }

  .honey-img{
    object-fit: cover;
  }

  .footer-list{
    font-size: 12px;
    flex-wrap: wrap;
    gap: 15px;
    width: 200px;
  }

  .about-us-subtitle, 
  .cafe-subtitle, 
  .cafe-reservation, 
  .products-subtitle {
    font-size: 18px;
  }

  .products-item-text{
    font-size: 16px;
  }

  .accent-img{
    width: 150px;
  }

  .about-accent{
    font-size: 150px;
  }

  .about-text-paragraph-1, .about-text-paragraph-2, .cafe-paragraph, .cafe-text-paragraph{
    font-size: 14px;
  }

  .products-cover-text{
    font-size: 12px;
    padding: 16px;
  }

  .contacts-wrapper{
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 50px;
  }

  .contacts-list{
    margin-top: 50px;
    gap: 15px;
  }

  .form-social{
    flex-wrap: wrap;
  }

  .social-media{
    margin-top: 50px;
  }

  .social-title{
    margin-bottom: 50px;
  }

  .social-media-img{
    width: 50px;
  }

  .products-cover-wrap{
    height: 230px;
  }



}


@media screen and (max-width: 375px){
    .container {
        width: 345px;
    }
    .honey, .about-us, .cafe, .map, .products{
        padding: 70px 0;
    }

    .star-bee{
        padding-top: 0;
        padding-bottom: 70px;
    }

    .header-menu-list{
        transform: translateX(20%);
    }

    .accent{
        display: none;
    }

    .star-icon{
        left: 240px;
        width: 120px;
        height: 120px;
        bottom: -80px;
        z-index: -1;
    }

    .header-title{
        font-size: 30px;
        margin-top: 25%;
    }

    .honey-inner{
        grid-template-columns: repeat(1, 1fr);
    }

    .honey-img{
        width: 345px;
    }

    .honey-text{
        font-size: 16px;
        padding: 30px;
    }

    .section-title, .honey-subtitle, .top-title, .title, .social-title{
        font-size: 24px;
    }


    .star-text, .cafe-subtitle, .about-us-subtitle, .cafe-reservation{
        font-size: 16px;
    }

    .about-text-img-2, .about-text-paragraph-2{
        display: none;
    }

    .about-text{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    video{
        margin-top: 70px;
    }

    .products-list{
        display: flex;
        flex-wrap: wrap;
    }
    .products-cover-wrap {
        height: 330px;
    }

    .products-item-wrap{
        padding: 16px;
    }

    .products-cover-text{
        font-size: 10px;
    }

    .form-control{
        width: 340px;
    }

    .footer-logo-link{
        display: none;
    }

    .footer-nav{
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-social-img{
        width: 30px;
        height: 30px;
    }

    .cafe-text{
        margin-top: 70px;
        margin-bottom: 70px;
        display: block;
    }

    .cafe-text-img-menu, .cafe-text-img-2, .cafe-text-img-3{
        display: none;
    }
    .cafe-text-paragraph{
        margin-top: 25px;
    }
}